<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">Logeshwaran Periyasamy</h5>
			<p class="grey-text text-lighten-4">About Me</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Track me @</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" target="_blank" href="http://facebook.com/logeshwaranperiyasamy">Facebook</a></li>
				<li><a class="grey-text text-lighten-3" target="_blank" href="https://in.linkedin.com/in/logeshwaranperiyasamy">Linkldin</a></li>
				<li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/logeshwaranperiyasamy">GitHub</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		© 2016 Logi, All rights reserved.
		<a class="grey-text text-lighten-4 right" href="mailto:logu.vkl@gmail.com">logu.vkl@gmail.com</a>
	</div>
</div>